@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1E1E1E;
};

@font-face {
    font-family: 'Metropolis';
    src: url('fonts/Metropolis-Regular.otf') format('otf');
  }

